<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <title>Image Edits</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            height: auto;
        }
    </style>
</head>
<body>
    {% if transformed_image_path %}
        <h2>Edit:</h2>
        <br>
        <img src="{{ '/' + transformed_image_path }}"
             alt="{{ transformed_image_path }}"
             width="600"
             class="img-fluid rounded">
        <a href="{{  '/' + transformed_image_path }}" class="btn btn-secondary mb-2" download>Download Image</a>
    {% else %}
        <p>No image available.</p>
    {% endif %}
    <br><br>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-2">Back to Home Page</a>
    <br><br>
</body>
</html>
