<!--Alfredo and Sydney-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <title>Title</title>
    <style>
        body{
            background-color: #e5e5e5;
        }
    </style>
</head>
<body class="text-center">
    <br>
    <h3><u>Example image and edits:</u></h3>
    <br>
    Original:
    <br>
    <img src="/static/example_images/{{ random_example }}.jpg"
        width="600"
        class="img-fluid rounded"
        alt="{{ random_example }}"/>
        <br>
    
    <br>     
    Greyscale:
    <br>
    <img src="{{transformed_image_path1}}"
        width="400"
        class="img-fluid rounded"
        alt="{{ random_example }}"/>
        <br>
        
    <br>     
    Sepia:
    <br>
    <img src="{{transformed_image_path2}}"
        width="400"
        class="img-fluid rounded"
        alt="{{ random_example }}"
        style="display:inline-block;"/>
        <br>
    
    <br>     
    Negative:
    <br>
    <img src="{{transformed_image_path3}}"
        width="400"
        class="img-fluid rounded"
        alt="{{ random_example }}"
        style="display:inline-block;"/>
        <br>
    <br>
        
<!-- Ryan Mauvais -->
 <!-- Add a button to go back to the home page -->
 <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Home Page</a>

</body>
</html>